version: '3'
services:
  web-dota2:
    image: nginx
    ports:
      - '8668:80'
    restart: always
    volumes:
      - ./config/nginx-custom.conf:/etc/nginx/conf.d/default.conf
      - ./config/mime.types:/etc/nginx/mime.types
      - ./dist:/usr/share/nginx/html
    container_name: web-dota2
    networks:
      - default

networks:
  default: